---
import { FaGithub, FaLinkedin } from "react-icons/fa";
import { SiGmail } from "react-icons/si";
---

<footer class="w-full border-t-2 border-neutral-400/20 dark:border-neutral-800 py-6 mt-12 max-sm:mt-2 dark:bg-[#1A1A1D]/80 bg-neutral-300 ">
  <div class="max-w-5xl mx-auto px-4 flex flex-col sm:flex-row items-center justify-between gap-4 text-sm text-neutral-700 dark:text-neutral-300">
    <span class="text-neutral-900 dark:text-neutral-200 text-center">© {new Date().getFullYear()} Relancio Borges. Todos os direitos reservados.</span>
    <div class="flex items-center gap-4 text-neutral-200">
      <a class="flex items-center gap-1 group text-neutral-900 dark:text-neutral-200 transition-colors" href="https://github.com/RelancioBorgesDev" target="_blank" rel="noopener noreferrer">
         <FaGithub size={18} className="group-hover:fill-white"/>
        Github
      </a>
      <a class="flex items-center gap-1 text-neutral-900 dark:text-neutral-200 transition-colors group" href="https://linkedin.com/in/relancioborges" target="_blank" rel="noopener noreferrer">
         <FaLinkedin size={18} className="group-hover:fill-blue-500"/>
        LinkedIn
      </a>
      <a class="flex items-center gap-1 text-neutral-900 dark:text-neutral-200 transition-colors group" href="mailto:relancioborges.dev@gmail.com">
         <SiGmail size={18} className="group-hover:fill-red-500"/>
        Email
      </a>
    </div>
  </div>
</footer>
