---
import { getCollection } from 'astro:content';
import { ProjectsSection } from '@/components/react/projects/project-section';
import GithubAnalytics from '../../assets/user_auth/GithubAnalytics.png';

const collection = await getCollection('projects');
const projects = collection.map((entry) => ({
  slug: entry.slug,
  title: entry.data.title,
  categories: entry.data.categories,
  year: entry.data.year,
  image: GithubAnalytics, 
  langs: entry.data.langs.map(({ lang }) => ({
    lang,
  })),
}));
---

<section id="projects" class="min-h-screen px-8 py-16 text-white">
  <ProjectsSection client:visible projects={projects} />
</section>
