---
import { getCollection } from 'astro:content';
import { ProjectsSection } from '@/components/react/projects/project-section';

const collection = await getCollection('projects');
const projects = collection.map((entry) => ({
  slug: entry.slug,
  title: entry.data.title,
  categories: entry.data.categories,
  year: entry.data.year,
  image: entry.data.banner_image, 
  langs: entry.data.langs.map(({ lang }) => ({
    lang,
  })),
}));
---

<section id="projects" class="h-fit px-8 max-sm:px-2 py-16 text-white">
  <ProjectsSection client:visible projects={projects} />
</section>
