---
import Layout from '../layouts/Layout.astro';
import Hero from '@/components/astro/hero.astro';
import About from '@/components/astro/about.astro';
import Projects from '@/components/astro/projects.astro';

import { SocialDock } from '@/components/react/social-dock';
---

<Layout>
	<main class="z-10">
		<SocialDock client:load/>
		<Hero />
		<About/>
		<Projects/>
	</main>
</Layout>
