---
type Props = {
	title: string
}

const { title } = Astro.props
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Meu Portoflio" />
    <meta name="keywords" content="design, desenvolvimento web, portfólio, projetos, habilidades, Relancio, Relancio Borges">
    <meta property="og:title" content="Portfolio | Relancio Borges">
    <meta property="og:description" content="Seja bem vindo ao meu portfolio, onde eu mostro alguns dos meu projetos e posts do meu blog">
    <meta property="og:image" content="">
    <meta property="og:url" content="https://relancioborgesdev.com/">


    <meta title={title}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Permanent+Marker&display=swap" rel="stylesheet">
          "@type": "Person",
          "name": "Relancio Borges",
          "url": "https://relancioborgesdev.com/",
          "sameAs": [
            "https://www.linkedin.com/in/relancioborges/",
            "https://github.com/RelancioBorgesDev"
          ],
          "jobTitle": "Developer",
        }
        </script>
    <title>{title}</title>
</head>