---
import { Squares } from "../components/react/ui/index";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Relancio Borges</title>
	</head>
	<body class="bg-zinc-900 text-white">
		<Squares client:load/>
		<slot />
	</body>
</html>


